body {
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  background-color: #FFFFFF; /* Updated for white background */
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-image: url('https://i.imgur.com/3TfXCwb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 20px;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 65px;
  align-self: center;
}

.nav-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
  gap: 10px;
}

.side-btn {
  display: block;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  padding: 10px 20px;
  font-size: 1rem;
  color: #000000;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
  font-weight: bold;
}

.side-btn:hover {
  background-color: #f0f0f0;
}


.icon {
  margin-right: 8px;
}


.main-content {
  flex: 1;
  padding: 40px;
  background-color: #FFFFFF; /* white background */
}

.title {
  margin-top: 40px;
  font-size: 3rem;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 30px;
}

.section-title {
  background-color: #D9D9D9; /* grey from Figma */
  display: inline-block;
  padding: 1px 10px;
  margin-bottom: 15px;
  font-size: 1.7rem;
  border-radius: 5px;

  
  /* Drop shadow */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 50px;
}

.playlist {
  background-color: #C3E9FA; /* light blue from Figma */
  padding: 50px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.selected {
  border: 2px solid blue;
}

.play-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 1rem;
}

.Friend-Activity {
  margin-top: 100px;
  width: 25%;
  background-color: #fff;
  padding: 20px;
  margin-right: 20px;
}

#activityBtn {
  width: 100%;
  padding: 10px;
  background-color: #dcdcdc;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
  /* Drop shadow */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.friend-card {
  margin-bottom: 15px;
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  /* Drop shadow */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}