body {
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  background-color: #FFFFFF;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-image: url('https://i.imgur.com/3TfXCwb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 20px;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 40px;
  align-self: center;
}

.sidebar button {
  margin-top: 10px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px; 
  margin-bottom: 12px;
}


.main-content {
  flex: 1;
  padding: 40px;
  background-color: #FFFFFF;
}

.main-content h1 {
  font-size: 3.5rem;
  margin-bottom: 30px;
}


.recently-played h3 {
  background-color: #D9D9D9;
  display: inline-block;
  padding: 1px 10px;
  margin-bottom: 15px;
  font-size: 1.7rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 50px;
}

.playlist {
  background-color: #C3E9FA; /* light blue from Figma */
  padding: 50px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.Friend-Activity {
  margin-top: 100px;
  width: 25%;
  background-color: #fff;
  padding: 20px;
  margin-right: 20px;
}

#activityBtn {
  width: 100%;
  padding: 10px;
  background-color: #dcdcdc;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
  /* Drop shadow */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.friend-card {
  margin-bottom: 15px;
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  /* Drop shadow */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.selected {
  border: 2px solid blue;
}

.play-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 1rem;
}